header {
	background-color: #FFF;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	align-items: center;
}

header a.logo {
	text-decoration: none;
	margin-left: 20px;
}

header .logo div {
	width: 150px;
	height: 50px;
	background: url("/images/logo.png") no-repeat center;
}
